HudRoot {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s linear 0.25s, backdrop-filter 1s linear;
    backdrop-filter: saturate(100%);
    background-color: rgba(0, 0, 0, 0);
}

.overlay.ghost {
    backdrop-filter: saturate(20%);
}

.overlay.transition {
    background-color: rgba(0, 0, 0, 1.0);
}

.scores {
    position: absolute;

    bottom: 2vh;
    left: 2vh;
    right: 2vh;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.score {
    display: flex;
    font-size: 6vh;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 2px 2px 4px black;
    flex-direction: column;
    width: 25%;

    margin-right: 2vh;
    margin-left: 2vh;
}

.score.left {

}

.score.center {
    text-align: center;
}

.score.right {
    text-align: right;
}

.score > div {
    position: relative;
    width: 100%;
    margin: 1vh;
}

div.icon {
    width: 8vh;
    height: 8vh;

    background-size: 100% 100%;
    opacity: 0.75;

    margin: -1vh 1vh 0 0;
}

text.icon {
    margin-right: 2vh;
}

.multiplier {
    width: 25%;
    position: relative;
    transition: opacity 1s linear;
    font-size: 4vh;
}

.multiplier text {
    margin-top: 2vh;
    width: 100%;
    text-align: center;
}

.multiplier .icon {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    margin-top: 1vh;
    font-size: 2vh;
    transition: opacity 0.25s linear;
}

.held-coins .icon {
    background-image: url(ui/money_bag.png);
}

.total-coins .icon {
    background-image: url(ui/bank.png);
}

.level-num text {
    width: 100%;
    margin-right: 2vh;
}

text.diff {
    position: absolute;
    left: 8vh;
    bottom: 8vh;

    font-size: 4vh;

    color: gold;

    transition: opacity 0.25s linear;
}

text.diff.negative {
    color: red;
}

.editor-warning, .daily-info {
    position: absolute;
    top: 6vh;
    width: 100%;
    color: rgba(255, 255, 255, 0.25);
    text-shadow: 2px 2px 4px black;
    font-size: 4vh;
    text-align: center;
}

.daily-info {
    top: 1vh;
    display: none;
}

.times {
    position: absolute;

    right: 2vh;
    top: 2vh;
}

.times text {
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    margin-top: 0.5vh;
    font-size: 5vh;
    color: rgba(255, 255, 255, 0.5);

    transition: opacity 0.5s linear;
}

.times text.level-time {
    font-size: 6vh;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 0vh;
}

.times text.total-time {
}
