HudRoot {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s linear 0.25s, backdrop-filter 1s linear;
    backdrop-filter: saturate(100%);
    background-color: rgba(0, 0, 0, 0);
}

.overlay.ghost {
    backdrop-filter: saturate(20%);
}

.overlay.transition {
    background-color: rgba(0, 0, 0, 1.0);
}

.score {
    position: absolute;

    right: 4vh;
    bottom: 2vh;

    font-size: 10vh;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.level-number {
    right: 4vh;
    bottom: 2vh;
}

.held-coins {
    left: 4vh;
    bottom: 12vh;
}

.total-coins {
    left: 4vh;
    bottom: 2vh;
}