NameplateRoot {
    display: flex;
    justify-content: center;

    flex-direction: column;
    align-items: center;

    transition: opacity 2s linear;
}

.value {
    position: relative;
}

.diff {
    position: absolute;

    left: 136px;
    bottom: 128px;
}

text {
    text-shadow: 0 0 8px black;
}

.avatar-frame {
    position: relative;

    width: 144px;
    height: 144px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 32px;
}

.avatar {
    width: 128px;
    height: 128px;

    background-size: 100% 100%;

    margin: 8px;

    border-radius: 50%;
    opacity: 0.125;
}

.value text {
    margin-top: 20px;
    font-size: 96px;
    color: #ffffff;
}

text.streak {
    position: absolute;
    top: 76px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 80px;
    text-shadow: none;
    text-stroke: 24px black;
    transition: opacity 1s linear;
}

.diff text {
    font-size: 80px;
    transition: opacity 0.25s linear;
    color: gold;
}

.diff text.negative {
    color: red;
}
